/* =============================================
 * Base
 * ============================================= */
html {
    font-family: $base-font-family;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: $base-font-size;
    line-height: $base-line-height;

    min-width: 320px;
    @include pc {
        min-width: 1000px;
    }
}

a {
    color: $base-link-color;
    text-decoration: underline;
    -webkit-transition: opacity .35s;
    -o-transition: opacity .35s;
    transition: opacity .35s;
    -ms-touch-action: manipulation;
    touch-action: manipulation;

    img {
        border: none;
    }
}

/* =============================================
 * Common
 * ============================================= */
.inner {
    @include inner(1040px, 20px);
}
