/* =============================================
* Footer
* ============================================= */
.footer {
    background: #EFF7FE;
    padding-top: 30px;
    &_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 15px 30px;
        position: relative;
        @include sp {
            justify-content: center;
        }
    }
    &_logo {
        display: flex;
        align-items: center;
        max-width: 250px;
        img {
            width: 100%;
        }
    }
    &_link_area {
        li {
            font-size: 1.3rem;
            color: #0055A2;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @include sp {
            display: none;
        }
    }
    &_link_detail {
        li {
            font-size: 1.2rem;
            color: #303030;
        }
        @include sp {
            display: none;
        }
    }
    &_copyright {
        text-align: center;
        background: #0055A2;
        color: #fff;
        font-size: 1.1rem;
        padding: 20px 0;
    }
}
.pagetop_btn {
    margin-top: 3px;
    @include sp {
        position: absolute;
        top: -60px;
        right: 0;
    }
}
