/* =============================================
* Header
* ============================================= */
.header {
    &_logo {
        position: absolute;
        z-index: 10;
        left: 65px;
        top: 25px;
        @include sp {
            max-width: 165px;
            position: fixed;
            z-index: 999;
            margin-top: 10px;
            top: 0;
            left: auto;
            img {
                width: 100%;
            }
        }
    }
}
.logo_position {
    position: relative;
    @include sp {
        position: static;
    }
}

#nav_menu {
    @include pc {
        display: none;
    }
    background: rgba(255,255,255, 0.8);
    width: 100%;
    z-index: 99;
    @include sp {
        position: fixed;
        width: 100%;
        top: 0;
        height: 50px;
    }
    nav {
        @include pc {
            display: none !important;
        }
        @include sp {
            display: none;
            position: absolute;
            top:50px;
            width: 100%;
            background: rgba(48,48,48, 0.8);
            left: 0;
            overflow: auto;
            max-height: calc(100vh - 50px);
        }
    }
    ul{
        @include sp {
            display: block;
            margin: 0 auto;
            width: 90%;
            height: auto;
        }
        li {
            padding-top: 15px;
            padding-bottom: 15px;
            &:hover {
                background: #0055A2;
                opacity: 0.6;
            }
            a {
                font-size: 16px;
                color: #fff;
                text-decoration: none;
                display: block;
                line-height: 1.2;
            }
            @include sp {
                margin: 0 auto;
                text-align: center;
                border-bottom: 1px solid #fff;
                border-right: none;
                width: 100%;
                &:last-child{
                    border: none;
                }
            }
        }
    }
}

#nav_toggle{
    display: none;
    @include sp {
        display: block;
        width: 100%;
        height: 55px;
        position: relative;
        z-index: 100;
        div {
            position: absolute;
            top: 10px;
            right: 20px;
            width: 25px;
        }
        span{
            display: block;
            height: 4px;
            background: #303030;
            position:absolute;
            width: 100%;
            left: 0;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            &:nth-child(1){
                top:5px;
            }
            &:nth-child(2){
                top:12px;
            }
            &:nth-child(3){
                top:19px;
            }
        }
    }
}
/*開閉ボタンopen時*/
.open #nav_toggle span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
}
.open #nav_toggle span:nth-child(2) {
    width: 0;
    left: 50%;
}
.open #nav_toggle span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
