@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin pc {
    @media screen and (min-width: $breakpoint-pc) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: $breakpoint-pc - 0.1) {
        @content;
    }
}

@mixin ie11 {
    @media all and (-ms-high-contrast: none) {
        *::-ms-backdrop, & {
            @content;
        }
    }
}

@mixin container($width:1000px) {
    width: 100%;
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
    @include pc {
        width: $width;
    }
}

@mixin inner($width:1000px,$padding:20px) {
    width: 100%;
    max-width: $width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $padding;
    padding-right: $padding;
    @include pc {
        width: $width;
    }
}

@mixin mincho {
    font-family: "source-han-serif-japanese", "Kozuka Mincho Pr6N", "Hiragino Mincho ProN", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
