/* =============================================
 * Reset
 * ============================================= */
 /* ---------------------------
  Reset CSS

  http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
  --------------------------- */
 * {
     margin: 0;
     padding: 0;
     border: 0;
     font: inherit;
     vertical-align: baseline;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
     display: block;
 }

 ol, ul {
     list-style: none;
 }

 blockquote, q {
     quotes: none;
 }

 blockquote:before, blockquote:after,
 q:before, q:after {
     content: none;
 }

 table {
     border-collapse: collapse;
     border-spacing: 0;
 }

 th, td {
     text-align: left;
     vertical-align: middle;
 }

 sup {
     vertical-align: super;
     font-size: smaller;
 }

* {
    box-sizing: border-box;
}

[type=text],
[type=email],
[type=number],
[type=tel],
[type=password],
[type=search],
[type=url],
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: normal;
}

[disabled] {
    cursor: not-allowed;
}

:focus:not(:focus-visible) {
    outline: none;
}
