// ==============================================
// ブレイクポイント設定
// ==============================================
// これ以上の場合にPC表示になる
$breakpoint-pc: 768px;

// ==============================================
// フォント設定
// ==============================================
// ベースのフォントサイズ 1rem = 10px
$base-font-size: 1.6rem;

// ベースのフォントカラー
$base-font-color: #303030;

// ベースのリンクカラー
$base-link-color: #0055A2;

// ベースの行間
$base-line-height: 1.4;

// ベースのフォント
$base-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;

// ==============================================
// 色設定
// ==============================================
// テーマカラー
$theme-color: #0055A2;

// ハイライトカラー
$highlight-color: #FFF;
