@charset "UTF-8";

@import "../base/variable";
@import "../base/mixin";

body {
    @include sp {
        padding-top: 50px;
    }
}
.main_vis {
    margin-bottom: 50px;
    position: relative;
}
.slider {
    margin: 0 auto;
    &-item {
        width: 100%;
        max-width: 1000px;
        height: auto;
    }
    img {
        width: 100%;
        height: auto;
    }
}
.arrows {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-prev {
    margin-left: 15px;
}
.slider-next {
    margin-right: 15px;
}

.top_nav {
    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 70px;
        @include sp {
            margin-bottom: 25px;
        }
        &-wrap {
            width: 44.4%;
            @include sp {
                width: 100%;
            }
        }
        &-ttl3 {
            font-size: 28px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 50px;
            @include sp {
                margin-bottom: 35px;
            }
            &-corporate {
                @extend .top_nav-content-ttl3;
                color: #00ABEB;
            }
            &-recruiting {
                @extend .top_nav-content-ttl3;
                color: #00C2D1;
            }
        }
    }
    &-lnkarea {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        li {
            width: 30.4%;
        }
    }
    &-button {
        display: flex;
        width: 100%;
        text-decoration: none;
        color: #fff;
        text-align: center;
        font-size: 18px;
        justify-content: center;
        align-items: center;
        height: 135px;
        &-corporate {
            @extend .top_nav-button;
            background: #00ABEB;
            @include sp {
                margin-bottom: 40px;
            }
        }
        &-recruiting {
            @extend .top_nav-button;
            background: #00C2D1;
        }
        &:hover {
            opacity: 0.6;
        }
    }
}
.recruiting_link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 90px;
    @include sp {
        margin-bottom: 45px;
    }
    li:first-child {
         margin-right: 2.2%;
         max-width: 51.74%;
    }
    li:last-child {
        max-width: 46.06%;
    }
    a:hover {
        opacity: 0.6;
    }
    &-ttl2 {
        text-align: center;
        background: #FF1D25;
        color: #fff;
        margin-bottom: 15px;
    }
    &-r {
        @include sp {
            display: block;
            img {
                width: 100%;
            }
        }
    }
    &-m {
        @include sp {
            display: block;
            img {
                width: 100%;
            }
        }
    }
}
.bottom_logo {
    text-align: center;
    margin-bottom: 45px;
}
