/* =============================================
* Module - Button
* ============================================= */
%ButtonBase {
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.6rem;
    padding: 10px 20px;
    display: inline-block;

    &:hover {
        cursor: pointer;
    }

    &.__large {
        font-size: 1.7rem;
        padding: 12px 25px;
    }
}

/* ---- OK系のボタン ---- */
.button__default {
    @extend %ButtonBase;
    background-color: $theme-color;
    color: #fff;

    &:hover {
        background-color: lighten($theme-color, 10%);
    }
}
