/* =============================================
* Module - Card
* ============================================= */
%CardBase {
    display: block;
    position: relative;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    border-left: solid 4px $theme-color;
    background-color: #fff;

    &:hover {
        -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .6);
        box-shadow: 0 3px 12px rgba(0, 0, 0, .6);
    }

    &:link {
        text-decoration: none;

        &::before {
            content: "";
            display: block;
            position: absolute;
            background-color: transparent;
            left: -4px;
            top: 50%;
            width: 4px;
            height: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        &:hover {
            cursor: pointer;

            &::before {
                background-color: #fb6e7b;
                height: 100%;
            }
        }
    }


    // パターン
    &.__primary {
        border-left-color: #ea4858;

        &:hover::before {
            background-color: #fb6e7b;
        }
    }
}

/* ---- default ---- */
.card__default {
    @extend %CardBase;
    padding: 30px;
    @include sp {
        padding: 15px;
    }
}
