/* =============================================
 * Module - Table
 * ============================================= */
%TableBase {
    width: 100%;

    tr {
        border-bottom: 1px solid #111;
    }

    th, td {
        padding: 20px;
    }
}

/* ---- 指定なし ---- */
table:not([class*=table__]) {
    @extend %TableBase;
}

/* ---- デフォルト ---- */
.table__default {
    @extend %TableBase;

}
